
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin: 0; 
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(70, 70, 70);
    color: rgb(219, 219, 219);
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    max-height: 100%;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: auto;
}

p{
    margin: 0;
    padding: 0;
    font-size: auto;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font-size: 38px;
	cursor: pointer;
	outline: inherit;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0.81;
    background-color: rgb(38, 38, 38);
    flex: 1;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 10px 8px 2px rgb(55, 55, 55);
    padding-bottom: 20px;
    
    
}

#header{
    color: rgb(253, 255, 120);
    text-shadow: 1px 4px 40px  rgb(249, 255, 170);
    padding: 10px;
}

.rock-span{
    color: silver;
    text-shadow: 1px 4px 40px  rgb(152, 152, 152);
}
.paper-span{
    color: rgb(214, 191, 142);
    text-shadow: 1px 4px 40px  rgb(208, 202, 185);
}
.scissors-span{
    color: rgb(207, 42, 42);
    text-shadow: 1px 4px 35px  rgb(167, 72, 72);
}


#info{
    padding: 7px;
}

.main-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

.results{
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    width: 800px;
    
}

.score-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.score{
    display: flex;
    justify-content: space-between;
    padding: 0 17%;
    margin-top: 15px;
}

.score-p{
    font-size: 34px;
}

.choices-p{
    padding: 15px;
}

.card-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: space-between;
    padding: 15px;
    background-color: rgb(55,55,55);
    box-shadow: 6px 6px 1px rgb(38, 38, 38);
    border-radius: 17px;
    margin-bottom: 22px;
}

.card-container p{
    margin-bottom: 15px;
    padding: 0px 10px;
}

.score-h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 37px;
    font-style:under-line;
    font-weight: lighter;
}

#user-identifier{
    padding-left:25px ;
}

#vs{
    font-size: 60px;
    flex-grow: 0;
    padding-top: 10px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    padding: 22px;
    margin: 15px;
    border-radius: 12px;
}

hr.divider{
    border: none;
    border-top: 4px dashed rgb(38, 38, 38);
    width: 100%;
    height: 1px;
    font-weight: lighter;
    text-decoration: none;

}

p.weapon{
    font-size: 65px;
    text-shadow: 1px 1px 55px  rgb(42, 42, 42);
}

.btn-container{
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(38, 38, 38);
    height: 140px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(41, 41, 41);
}

.btn-container button{
    font-size: 85px;
    padding: 18px;
    transition: 0.4s;
}

.btn-container button:hover{
    text-shadow: 2px 2px 9px black;
    opacity: 0.6;
}

.btn-container button:active{
    opacity: 1;
    text-shadow: none;
}

hr.btn-divider{
    border: none;
    border-right: 4px dashed rgb(38, 38, 38);
    height: 120px;
    font-weight: lighter;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 28px;
    border: 1px solid black;
    font-weight: lighter;
    opacity: 0.81;
    background-color: rgb(38, 38, 38);
}

a{
    text-decoration: none;
    color: wheat;
}

